.ap {
  &-controller {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .control {
      width: 2.3rem;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      transition: font-size 0.02s ease-in-out;
      &:active {
        font-size: 1.8rem;
      }
      text-align: center;
    }
    .play {
      width: 2.5rem;
      font-size: 3rem;
      &:active {
        font-size: 2.7rem;
      }
    }
  }

  &-track-time {
    color: white;
    display: flex;
    justify-content: space-between;
  }

  &-track-prog {
    height: 5px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      &::-webkit-slider-thumb {
        position: relative;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #b8b8b8;
      }
    }

    &::-webkit-slider-thumb {
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
}
